@model IEnumerable<MobileGeneratorBooking.Models.StaffMember>
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using MobileGeneratorBooking.Models

@*User Role*@
@{
    var role = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
        var manager = new UserManager<ApplicationUser>(userStore);
        var currentUser = manager.FindById(User.Identity.GetUserId());
        role = currentUser.Role;
    }
}

@{
    ViewBag.Title = "Traffic Managers";
}

<h2>Traffic Managers</h2>

<br />
@if (role == "SuperAdmin")
{
    <p>
        @Html.ActionLink("Create A New Traffic Manager >>", "Create", null, new { @class = "btn btn-success" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Traffic)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Traffic)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (role == "SuperAdmin" || role == "Admin")
                {
                    <span>| </span> @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }
                @if (role == "SuperAdmin")
                {
                    <span>| </span> @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>

        </tr>
    }

</table>
