@model IEnumerable<MobileGeneratorBooking.Models.Booking>

@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WBSNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomersAffected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostOfGeneratorPerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DieselCostPerLitre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneratorDieselLitres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckDieselLitres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneratorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubstationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operator1Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operator2Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrafficManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproverId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WBSNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomersAffected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPerCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPerHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostOfGeneratorPerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DieselCostPerLitre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneratorDieselLitres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TruckDieselLitres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneratorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubstationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator1Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator2Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrafficManagerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproverId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
