@model IEnumerable<MobileGeneratorBooking.Models.SubStation>
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using MobileGeneratorBooking.Models

@*User Role*@
@{
    var role = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
        var manager = new UserManager<ApplicationUser>(userStore);
        var currentUser = manager.FindById(User.Identity.GetUserId());
        role = currentUser.Role;
    }
}

@{
    ViewBag.Title = "Sub Stations";
}

<h2>@ViewBag.Title</h2>

<br />
@if (role == "SuperAdmin" || role == "Admin")
{
    <p>
        @Html.ActionLink("Create A New Substation >>", "Create", null, new { @class = "btn btn-success" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeakLoadAmp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeakLoadKw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfCustomers)
        </th>
        <th>
            Contact
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @item.PeakLoadAmp.ToString("#,##0")
        </td>
        <td>
            @item.PeakLoadKw.ToString("#,##0")
        </td>
        <td>
            @item.NoOfCustomers.ToString("#,##0")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactFirstName) @Html.DisplayFor(modelItem => item.ContactSurame)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (role == "SuperAdmin" || role == "Admin")
            {
                <span>| </span> @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            }
            @if (role == "SuperAdmin")
            {
                <span>| </span> @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>

    </tr>
}

</table>
