@using BookingApplication.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESB Networks Booking Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <!--Nav Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/Images/ESBLogo.png")" />
                </a>
            </div>
            <div>
                <h4 class="text-right">Mobile Electricity Generator Booking Application</h4>
            </div>
        </div>
    </div>

    <!--Image Slider-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Images/LoginImage1.jpg" alt="Powering Cities Image" />
            </div>
            <div class="item">
                <img src="~/Content/Images/LoginImage2.jpg" alt="Powering Communities Image" />
            </div>
            <div class="item">
                <img src="~/Content/Images/LoginImage3.jpg" alt="Powering People Image" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    <div class="container body-content">

        @*Login form*@
        <h2 class="text-danger"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Site Restricted</h2>
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>This Web Application is restricted to authorised users only. Please login below for access.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                </section>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - National College of Ireland, Mayor Square, Dublin 1</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>